{% extends 'base.html.twig' %}

{% block title %}
    {{ comment.nick }}
{% endblock %}

{% block body %}
    {% if comment is defined and comment|length %}

        <h1>{{ "label.show_comment"|trans }}</h1>
        <div class="container">
            <p>{{ comment.nick }}</p>
            <p>{{ comment.email }}</p>
            <p>{{ comment.comment }}</p>
            <a href="{{ url('comment_index') }}"
               title="{{ 'action.action.back_to_comment_list'|trans }}"
               class="btn btn-secondary mb-3">
                {{ 'action.back_to_comment_list'|trans }}
            </a>
        </div>
    {% endif %}
{% endblock %}