{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    {% if article is defined and article|length %}

        <h1>{{ article.title }}</h1>
        <div class="container">
            <a href="{{ url('article_index') }}" title="{{ 'action.back_to_article_list'|trans }}">
                {{ 'action.back_to_article_list'|trans }}
            </a>
            <p>{{ article.content }}</p>
        </div>
    {% endif %}
{% endblock %}